body {
    font: 13px/20px 'Droid Sans', Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
    text-align: center;
}

form {
    background: -moz-linear-gradient(top, #fff, #f8f8f8);
    background: -webkit-linear-gradient(top, #fff, #f8f8f8);
    background: linear-gradient(top, #fff, #f8f8f8);
    border: 1px solid #d0d2d5;
    border-bottom: 1px solid #bebfc2;
    border-radius: 4px;
    margin: 0 0 20px -190px;
    padding: 20px;
    width: 380px;
}

label {
    color: #404853;
    display: block;
    font-weight: bold;
    text-align: left;
}

input {
    background: #fff;
    border: 1px solid #c6c9cc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
    color: #555;
    margin: 0 0 20px 0;
    padding: 5px;
    width: 370px;
}

fieldset {
    background: -moz-linear-gradient(top, #ebeced, #dedfe0);
    background: -webkit-linear-gradient(top, #ebeced, #dedfe0);
    background: linear-gradient(top, #ebeced, #dedfe0);
    border: none;
    border-top: 1px solid #d0d2d5;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
    margin: 5px 0 -20px -20px;
    padding: 18px 20px;
    width: 380px;
    min-height: 38px;
}

fieldset input {
    margin: 0;
    width: auto;
}

fieldset label {
    color: #888;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 0 20px;
}

fieldset label input {
    margin: -2px 2px 0 0;
    padding: 0;
}

pre {
    display: block;
    margin: 0 0 20px -190px;
    width: 380px;
    text-align: left;
}

div.center {
    padding-left: 50%;
}

b.red {
    color: red;
}

#validate_submit {
    background: -moz-linear-gradient(top, #687587, #404853);
    background: -webkit-linear-gradient(top, #687587, #404853);
    background: linear-gradient(top, #687587, #404853);
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #fff;
    font-weight: bold;
    float: left;
    padding: 5px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    margin-top: 3px;
}

#validate_submit:hover {
    background: -moz-linear-gradient(top, #5a6675, #333942);
    background: -webkit-linear-gradient(top, #5a6675, #333942);
    background: linear-gradient(top, #5a6675, #333942);
}

#validate_submit:active {
    background: #333942;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75);
}
